# Compiler files
cache/
out/

# Test Coverage Reports
report/
lcov.info

# Ignores development broadcast logs
broadcast/


# Docs
docs/

# Dotenv file
.env
.env.local

# Claude
/.claude/

# Paper
paper/
